.settings
.wtpmodules
target
.project
.factoryPath
.classpath
outdated-dependencies.txt
bin
*.iml
.idea
_*.sh
*.local
*.localz
app-dev.properties
app-local.properties
app.properties.backup
*.zip
*.versionsBackup
*.log
*.db
mqjms.log*
maven-eclipse.xml
.externalToolBuilders
dep.txt
/docs/asciidoc/index.html
.mvn/maven.config
.mvn/jvm.config
.flattened*
*.patch
*.jts
*.jks
/.mvn/
/logback.xml
.DS_Store
