<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">

    <listener>
        <listener-class>org.jboss.weld.environment.servlet.BeanManagerResourceBindingListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>
    </listener>
    <listener>
        <listener-class>no.nav.vedtak.sikkerhet.jaspic.SamAutoRegistration</listener-class>
    </listener>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Ubeskyttet</web-resource-name>
            <url-pattern>/cb</url-pattern>
            <url-pattern>/internal/health/isAlive</url-pattern>
            <url-pattern>/internal/health/isReady</url-pattern>
            <url-pattern>/internal/selftest</url-pattern>
            <url-pattern>/internal/metrics/prometheus</url-pattern>
            <url-pattern>/internal/health/preStop</url-pattern>
        </web-resource-collection>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Alt annet beskyttet</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <!-- From Servlet spec 3.1 "**" means any authenticated user ref: https://community.oracle.com/blogs/swchan2/2013/04/19/role-servlet-31-security-constraint -->
            <role-name>**</role-name>
        </auth-constraint>
    </security-constraint>

</web-app>


