name: Snyk vulnerabilities scanning of dependencies
on:
  schedule:
    - cron:  '0 0 * * *'
  workflow_dispatch:
  push:
      branches:
          - master
      paths:
          - '.github/workflows/snyk.yml'
jobs:
  snyk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.1.0
      - uses: actions/setup-java@v3
        with:
            java-version: 17
            distribution: 'temurin'
            cache: 'maven'

      - uses: snyk/actions/setup@master

      - name: Setup maven
        uses: whelk-io/maven-settings-xml-action@v21
        with:
          repositories: '[{ "id": "github", "name": "github", "url": "https://maven.pkg.github.com/${{ github.repository }}", "releases": { "enabled": "true" }, "snapshots": { "enabled": "false" } }]'
          servers: '[{ "id": "github", "username": "${{ github.actor }}", "password": "${{ secrets.READER_TOKEN }}" }]'
          output_file: settings.xml

      - name: Set version
        run: |
            echo "Building snyk-snapshot"
            mvn -B -s settings.xml versions:set -DnewVersion=snyk-snapshot
            mvn install -q -B -s settings.xml -DskipTests

      - name: Run Snyk to check Maven Dependencies for vulnerabilities
        run: >
            snyk monitor
            --org=teamforeldrepenger
            --all-projects
            --configuration-attributes=usage:java-runtime
            --remote-repo-url=https://github.com/${{ github.repository }}.git
            -- -s settings.xml
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

      - name: Run Snyk to check Docker images for vulnerabilities
        uses: snyk/actions/docker@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
            command: monitor
            image: ghcr.io/${{ github.repository }}:latest
            args: --org=teamforeldrepenger --severity-threshold=critical --project-name=${{ github.repository }}
